* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #757575;
  --back-color: #f4f5f8;
  --orange-color: #f4af22;
  --white-color: #ffffff;
  --dark-blue-color: #1e3765;
  --main-blue-color: #5576d1;
  --text-blue-color: #8c9bbc;
  --green-price-color: #44ca67;
  --grey-color: #e7e9ee;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--back-color);
  color: var(--text-blue-color);
}
a {
  text-decoration: none;
  color: var(--dark-blue-color);
}
li{
  list-style: none;
}
button {
  padding: 10px 20px;
  border-radius: 40px;
  background-color: var(--main-blue-color);
  border: var(--white-color) solid 2px;
  box-shadow: 0 3px 5px -1px #757575;
  color: var(--white-color);
  transition: 1s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper {
  height: 100vh;
  max-width: 600px;
  background: var(--back-color);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/* ----- header nav-menu ---------- */
header {
  width: 95%;
  padding: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
a .upbtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color: var(--dark-blue-color);
  z-index: 1;
}
.menubtn {
  background-color: var(--grey);
  color: var(--dark-blue-color);
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.nav-menu {
  float: right;
}
.nav-menu-content {
  display: none;
  position: absolute;
  right: 0;
  width: 95%;
  background-color: var(--back-color);
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px;
}
.nav-menu-content a {
  color: var(--text-blue-color);
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  display: block;
}
.nav-menu-content a:hover {
  color: var(--main-blue-color);
}
.nav-menu-left li {
  list-style-type: none;
  /* width: 95%; */

}
.nav-menu-left .nav{
  position: relative;
}
.nav .fa-chevron-down {
  float: right;
}
.locationContent,
.aboutUsContent {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: var(--back-color);
  box-shadow: 0px 8px 16px 0px;
  border-radius: 10px;
  z-index: 1;
  width: 100%;
}
.locationContent,
.aboutUsContent h4 {
  color: var(--main-blue-color);
  padding: 5px;
}


/* main first page  */
main {
  padding: 20px;
  display: grid;
  /* width: 100%; */
  margin: 0 auto;
}
main button {
  background-color: var(--orange-color);
}
h2 {
  color: var(--dark-blue-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px;
}
main img {
  width: 95%;
}
.main-taste {
  font-weight: normal;
}
.orangeText {
  color: var(--orange-color);
}
.nameDessert {
  font-size: 3rem;
}
.apply {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 30px;
  background-image: linear-gradient(
      66deg,
      #fff,
      #fff 46%,
      hsla(0, 0%, 100%, 0.36) 74%,
      hsla(0, 0%, 97.1%, 0)
    ),
    url("https://assets.website-files.com/5e61309e2ea57b96254de07c/60fb0fcbc1334b219e8cb649_mado-cloth.jpg");
  background-position: 0 0, 100% 30%;
  background-size: auto, 60%;
  background-repeat: no-repeat;
}
.oval-btn {
  border: 1px solid lightgrey;
  width: 35%;
  padding: 5px;
  margin: 20px 0;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
}
.subscribe .oval-btn {
  margin: 20px auto;
}
.apply-btn {
  margin: 10px;
  background-color: var(--main-blue-color);
}
.subs-btn {
  margin: 10px;
  background-color: var(--dark-blue-color);
}
/* subscribe part */
.subscribe {
  text-align: center;
  display: grid;
}
#subscribe {
  color: var(--text-blue-color);
}
/* ---- Main menu center ---- */
.section-menu-center {
  text-align: center;
  width: 95%;
  display: none;
}
.menuHeader div,
h2 {
  display: inline-block;
}
.line {
  border-top: 1px var(--text-blue-color) solid;
  width: 80px;
  height: 10px;
}
.category {
  overflow: hidden;
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  box-shadow: 0 10px 20px -2px var(--text-blue-color);
  margin: 10px;
  max-height: 270px;
  min-height: 270px;
  cursor: pointer;
  display: block;
  position: relative;
}
.category:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue-color);
  opacity: 0.2;
  pointer-events: none;
}
.category:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.category:hover::after {
  opacity: 0.5;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.category a {
  align-items: center;
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 145%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 80px;
  pointer-events: none;
  z-index: 1;
}
.menu-center #breakfast {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/615151e04f9f414db02da630_SDF.png);
}
.menu-center #bakery {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80b3ca67c9462e6793a47_bakery.jpg);
}
.menu-center #salads {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/60f1255246b70658316e5cc0_IMG_0027.jpg);
}
.menu-center #gozleme {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80c30b728ac5c670baafb_gozleme%20-%20patatoe.jpg);
}
.menu-center #pizza {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80c13877cc8375b845d9d_super%20supreme%20pizza.jpg);
}
.menu-center #mains {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a93579a3b8848b25d622cb_kabab%20-%20spicy%20chicken%20saute.JPG);
}
.menu-center #baklava {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80bfd3eba0879dd314725_dolama.jpg);
}
.menu-center #hotDesserts {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80c6ecc2049063102dab4_kunafah.jpg);
}
.menu-center #coldDesserts {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80c793af4d6095048a7e0_keskul.jpg);
}
.menu-center #ice {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/60f12542a4729850899e559c_MADO_2019_01_23_2327.JPG);
}
.menu-center #hotDrinks {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/60f125350325e72c01951c5f_coffee.jpg);
}
.menu-center #coldDrinks {
  background-image: url(https://assets.website-files.com/5e613103afff65141c9d0b09/61a80bc89be17d6ef00a5f50_ayran.jpg);
}

/*  ----******* section menu left and right ***----------- */
.section-menu {
  width: 95%;
  padding: 10px;
  /* display: block; */
  display: none;
}
.card {
  display: block;
  /* width: 100%; */
  color: var(--text-blue-color);
  background-color: var(--white-color);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px 0 #8c9bbc;
}
.card a {
  color: var(--text-blue-color);
  font-weight: bold;
  pointer-events: none;
}
.card .fa-arrow-right {
  display: none;
  color: var(--text-blue-color);
}
.card:hover .fa-arrow-right {
  display: flex;
  float: right;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  color: var(--main-blue-color);
}
.card:hover a {
  color: var(--main-blue-color);
}
.menu-left .active {
  background-color: var(--green-price-color);
}
.menu-left .active a {
  color: var(--white-color);
  font-weight: bold;
}
.menu-left .active .fa-arrow-right {
  display: flex;
  float: right;
  color: var(--white-color);
}

/*  menu-right  */
#menuHeader {
  color: var(--dark-blue-color);
  font-size: 3rem;
  padding: 20px;
}
.menu-right {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.menu-right .card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
  max-height: 140px;
  max-width: 475px;
}
.menu-right .card .card {
  padding: 10px 20px;
  display: block;
}
.menu-right img {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.darkBlue {
  color: var(--dark-blue-color);
  font-weight: bold;
  padding: 10px 0;
}
.green {
  color: var(--green-price-color);
  font-size: 1.1rem;
}
.addCart {
  background-color: var(--green-price-color);
  text-transform: lowercase;
  /* float: right; */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
}

/* ----****** Footer *****----- */
footer {
  margin: 20px;
  line-height: 145%;
  /* display: none; */
}
footer h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: var(--main-blue-color);
}
.social-wrapper {
  margin-bottom: 10px;
}
.social-wrapper a {
  margin: 0;
  padding: 0;
  display: inline;
}
.social-wrapper img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  padding: 5px;
  opacity: 0.7;
}
/* -- nav - search - item -  -- */

.nav-search-items{
  font-size: 1.1rem;
  font-weight: bold;
  padding: 20px;
  display: none;
}
#home-menu {
  cursor: pointer;
}
.nav-search-items input{
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #c5c1c1;
  border-radius: 5px;
  color: var(--text-blue-color);
  background-color: var(--white-color);
  padding: 5px 10px;
  margin: 5px;
}
.nav-search-items i:hover{
  color: var(--main-blue-color);
  transform: scale(1.1);
}
.nav-search-items div:hover{
  color: var(--main-blue-color);
}
.nav-search-items input:hover{
  color: var(--main-blue-color);
  transform: scale(1.1);
}
.nav-search-items #vMax, #vMin {
color: var(--green-price-color);
}
.nav-search-items span{
  font-size: .9rem;
}
.slidecontainer{
  margin: 10px;
}
.slidecontainer input{
margin-left: 10px;
}
.slidePrice {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  transition: opacity .15s ease-in-out;
}
.slidePrice::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 18px;
  border-radius: 50%;
  background: var(--green-price-color);
  cursor: pointer;

}
/* classList - toggle */
.show {  
  display: block;  
} 
/* ------***** media *****------ */
@media screen and (min-width: 992px) {
  header {
    padding-left: 30px;
    grid-template-columns: 150px 100%;
    justify-content: start;
  }
  .menubtn {
    display: none;
  }
  .nav-menu-content {
    display: inline;
    position: static;
    min-width: 950px;
    width: 100%;
    box-shadow: none;
    margin: 0;
 }
  .nav-menu-left {
    margin-right: 25%;
  }
  .nav-menu-left .nav{
    display: inline-block;
  }
  .nav-menu-content a,
  div,
  li {
    display: inline-block;
  }
  .locationContent,
.aboutUsContent {
  max-width: 200px;
}
.locationContent,
.aboutUsContent h4 {
  padding: 15px;
}
.nav-search-items {
  padding: 30px;
}
.nav-search-items form{
  display: inline-flex;
}
.slidecontainer{
  margin: 20px;
}
  .nav .fa-chevron-down {
    float: none;
  }
  .social-wrapper a {
    margin: 0;
    padding: 0;
  }
  .section-slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }
  .menu-center {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .menuHeader h2 {
    font-size: 2.5rem;
  }
  .category {
    max-height: 180px;
    min-height: 180px;
  }
  .category a {
    font-size: 2rem;
    padding: 40px;
  }
  .section-menu {
    /* display: grid; */
    display: none;
    padding: 30px;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    column-gap: 80px;
  }
  .menu-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /* .content-menu .card {
  } */
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px;
    margin-bottom: 100px;
  }
 
  
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 1400px;
    padding-left: 150px;
    padding-right: 150px;
  }
  main h2 {
    font-size: 3rem;
  }
  .nameDessert {
    font-size: 7rem;
  }
}
